body{
    margin: 0px;
    background-color: rgb(230, 227, 227);    
}
.topo{
    background-color: #1C73B1;
    height: 80px;
}
.logo{
    width: 250px;
    height: 80px;
}
.main{
    border-bottom:  lightgrey solid 4px;
}
#titulo{
    font-size: 60px;
}
.infoPrincipal div{
    width: 700px;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}
.infoPrincipal img{
    height: 100px;
    width: auto;
}
.infoPrincipal{
    height: 88.5vh;
    width: 100%;
    text-align: center;
    
    display: flex;
    align-content: space-between;
    align-items: center;
}
.login {
    border-radius: 10px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 400px;
    margin: 110px auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.login button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.login button:hover,.login button:active,.login button:focus {
    background: #43A047;
}
.login #mensagem {
    font-family: "Roboto", sans-serif;
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.login #mensagem a {
    font-family: "Roboto", sans-serif;
    color: #4CAF50;
    text-decoration: none;
}
.mid{
    font-family: 'Amatic SC', cursive;
}

.segundoTitulo{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
    font-size: 40px;
    font-weight: bold;
}
.produto{
    display: flex;
    margin-bottom: 100px;
}
.infos ul{
    list-style-type: none;
}
.produto img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
.segundaInfos{
    display: flex;
    margin: 50px;
    
}
.infos{
    font-size: 25px;
}
.servicos{
    font-size: 20px;
    border-radius: 10px;
    background: #FFFFFF;
    max-width: 300px;
    margin: 100px auto auto 200px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
footer a img{
    width: 40px;
    height: 40px;
    margin: 15px 20px 10px 20px;
}
.primeiraimg{
    margin-left: 555px;
}
footer{
    background-color: lightgray;
}
footer a{
    text-decoration: none;
}
